<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li>Custom</li>
    <li>Sedan</li>
    <li>SUV</li>
    <li>Truck</li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
