<% if (title) { %>
<h1><%= title %></h1>
<% } %>

<div class="review-management">
  <h2>
    <a href="/review/reviewsView" class="view-all-reviews"
      >View All My Reviews</a
    >
  </h2>
</div>

<div class="manage-review">
  <h2>Manage Review</h2>
  <p>Choose a classification to see those inventory items.</p>
  <%- classificationList %>

  <table id="reviewDisplay"></table>

  <noscript>JavaScript must be enabled to use this page.</noscript>

  <script src="../../js/review.js"></script>
</div>
