<% if (title) { %>
<h1><%= title %></h1>
<% } %> <%- messages() %>

<form action="/inv/addClass" id="addClass" method="POST">
  <label for="classification_name">Classification Name:</label>
  <input
    type="text"
    id="classification_name"
    name="classification_name"
    required
  />
  <button type="submit">Add Classification</button>
</form>
