<% if (title) { %>
<h1><%= title %></h1>
<% } %> <%- messages('notice') %> <%- messages('error') %>

<div class="inventory-management">
  <h2>
    <a href="/inv/addClass" class="add-classification">Add Classification</a>
  </h2>
  <h2>
    <a href="/inv/addInv" class="add-inventory">Add New Vehicles</a>
  </h2>
</div>
<div class="manage-inventory">
  <h2>Manage Inventory</h2>
  <p>Choose a classification to see those inventory items.</p>
  <%- classificationSelect %>

  <table id="inventoryDisplay"></table>

  <noscript>JavaScript must be enabled to use this page.</noscript>

  <script src="../../js/inventory.js"></script>
</div>
